/* general */

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    background-image: url(../pics/background.jpg);
}

#main{
    background-color: rgb(114, 84, 184);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    border: black 2px solid;
    padding-left: 100px;
    padding-right: 100px;
    height: 90vh;
}

h1{
    text-align: center;
}

button{
    background-color: rgb(138, 138, 138);

}

button:hover{
    background-color: rgb(165, 165, 165);
}

/* control section */

#control-section{
    position:relative;
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    padding: 5px;;
    background-color: rgb(142, 135, 202);
}

#control-section > div{
    text-align: left;
    margin-bottom: 10px;
}

input{
    height: 19px;
    margin-right: 10px;
    width: 200px;
}

.input-line{
    height: 25px;
    margin-right: 10px;
}

/* view section */

#view-section{
    display: block;
    width: max-content;
    text-align: left;
    margin-right: 100px;
}

#mission-list{
    list-style: none;
    margin-right: 100px;
}

#mission-list > li{
    display: flex;
    justify-content:space-between;
}

#mission-list > li:hover{
    background-color: rgb(121, 31, 206);
}

.todo-container{
    display: flex;
}

.delete-button{
    right: 0;
    font-size: 10px;
    padding: 0x 3px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.todo-priority, .todo-text, .todo-created-at{
    padding: 5px;
}

